@charset "UTF-8";
/* Variables */
/* Mixins */
/* Maps */
/* Polices */
@font-face {
  font-family: Roboto, cursive;
  src: "GoogleFont";
  font-family: Chilanka, cursive;
  src: "Google Font";
  font-family: Devonshire, cursive;
  src: "Google Font";
  font-family: Lobster Two, cursive;
  src: "Google Font";
  font-family: Dancing Script, cursive;
  src: "Google Font";
  font-family: Caveat, cursive;
  src: "Google Font";
  font-family: Mali, cursive;
  src: "Google Font";
  font-family: Roboto Slab, cursive;
  src: "Google Font";
  font-family: Kalam, cursive;
  src: "Google Font";
  font-family: Architects Daughter, cursive;
  src: "Google Font";
  font-family: Red Hat Display, sans-serif;
  src: "Google Font";
}
/* Keyframes */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
/* Général */
html {
  font-size: 100%;
  background-color: black;
}

body {
  font-size: 0.8em;
  margin: auto;
  background-color: white;
  position: relative;
  padding-bottom: 20%;
}

html, body {
  height: auto;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

/* Block en tête */
header {
  background-color: #579C87;
  box-shadow: 0px 1px 3px 0px #579C87;
}
header img {
  max-width: 75%;
  padding-top: 25px;
  padding-bottom: 20px;
  margin-right: 12.5%;
  margin-left: 12.5%;
}

/* Block Menu */
h1 {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 15px;
  color: #353535;
  font-family: Roboto;
  letter-spacing: 0px;
  font-size: 1.8em;
}

.menu {
  background-color: #FCDFDB;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px -5px black;
}
.menu__note {
  font-size: 3em;
  padding-top: 30px;
  text-align: center;
  background: linear-gradient(to right, #F15360, #F78F6A);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-right: auto;
  margin-left: auto;
}
.menu h2 {
  color: #3C1218;
  font-family: Devonshire;
  letter-spacing: 0.5px;
  font-size: 225%;
  text-align: center;
  margin: 0%;
  margin-bottom: 7%;
  white-space: nowrap;
}
.menu img {
  max-width: 100%;
  max-height: 100%;
}
.menu__categorie__block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.menu__categorie__name {
  display: inline-block;
  color: #3C1218;
  text-align: center;
  justify-content: center;
  font-family: Chilanka;
  letter-spacing: 0px;
  font-size: 150%;
  margin-bottom: 2%;
  margin-top: 5%;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
  white-space: nowrap;
}
.menu__categorie__name--underlineEffect::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #3C1218;
  transition: width 0.5s;
}
.menu__categorie__name--underlineEffect:hover::after {
  width: 100%;
  transition: width 0.5s;
}
.menu .plat1, .menu .plat2, .menu .plat3, .menu .plat4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Mali;
  letter-spacing: 0px;
  font-size: 0.8em;
}
.menu .plat--justify {
  text-align: justify;
}
.menu .plat--margeGras {
  margin-left: 20px;
  font-weight: bold;
}
.menu__dessert {
  font-family: Mali;
  letter-spacing: 0px;
  font-size: 0.8em;
}
.menu h3 {
  text-align: center;
  color: #3C1218;
  font-family: Devonshire;
  letter-spacing: 0px;
  font-size: 1.7em;
}
.menu .smallNote {
  font-size: 1.5em;
  margin-right: 10px;
  background: linear-gradient(to right, #F15360, #F78F6A);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Block Pied de page */
.footer {
  display: flex;
  flex-direction: row;
  background-color: #579C87;
  color: #FDCB46;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Red Hat Display;
  letter-spacing: 0px;
  font-size: 125%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer__menLeg {
  margin-left: 10px;
  flex: 2;
}
.footer__contact {
  margin-right: 10px;
}
.footer a {
  text-decoration: none;
  color: #FDCB46;
}
.footer a:hover {
  display: inline-block;
  animation: shake 1s;
}
.footer__menLeg, .footer__contact {
  margin-bottom: 0%;
  margin-top: 0%;
}

/*# sourceMappingURL=menu1_style.css.map */
