@charset "UTF-8";
/* Variables */
/* Mixins */
/* Maps */
/* Polices */
@font-face {
  font-family: Roboto, cursive;
  src: "GoogleFont";
  font-family: Chilanka, cursive;
  src: "Google Font";
  font-family: Devonshire, cursive;
  src: "Google Font";
  font-family: Lobster Two, cursive;
  src: "Google Font";
  font-family: Dancing Script, cursive;
  src: "Google Font";
  font-family: Caveat, cursive;
  src: "Google Font";
  font-family: Mali, cursive;
  src: "Google Font";
  font-family: Roboto Slab, cursive;
  src: "Google Font";
  font-family: Kalam, cursive;
  src: "Google Font";
  font-family: Architects Daughter, cursive;
  src: "Google Font";
  font-family: Red Hat Display, sans-serif;
  src: "Google Font";
}
/* Général */
html {
  font-size: 100%;
  background-color: black;
}

body {
  font-size: 0.8em;
  margin: auto;
  background-color: white;
  position: relative;
  max-width: 1200px;
  padding-bottom: 20%;
}

html, body {
  height: auto;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

/* Block en tête */
header {
  background-color: #579C87;
  box-shadow: 0px 1px 3px 0px #579C87;
}
header img {
  max-width: 75%;
  padding-top: 25px;
  padding-bottom: 20px;
  margin-right: 12.5%;
  margin-left: 12.5%;
}

/* Block Menu */
h1 {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 15px;
  color: #353535;
  font-family: Roboto;
  letter-spacing: 0px;
  font-size: 1.8em;
}

.menu {
  background-color: #FFF5FE;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px -5px #000000;
}
.menu h2 {
  background: linear-gradient(to right, #C77412, #6E4CCC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: Lobster Two;
  letter-spacing: 0px;
  font-size: 200%;
  text-align: center;
  white-space: nowrap;
}
.menu img {
  max-width: 100%;
  max-height: 100%;
}
.menu__categorie__block {
  display: flex;
  flex-direction: row;
}
.menu__categorie__trait {
  padding-top: 5%;
}
.menu__categorie__entree {
  display: flex;
  flex-direction: row;
  color: #C77412;
  text-align: center;
  justify-content: center;
  font-family: Roboto Slab;
  letter-spacing: 0px;
  font-size: 125%;
  margin-bottom: 2%;
  margin-top: 5%;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
  white-space: nowrap;
  width: 300px;
}
.menu__categorie__plat {
  display: flex;
  flex-direction: row;
  color: #A56799;
  text-align: center;
  justify-content: center;
  font-family: Roboto Slab;
  letter-spacing: 0px;
  font-size: 125%;
  margin-bottom: 2%;
  margin-top: 5%;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
  white-space: nowrap;
  width: 300px;
}
.menu__categorie__dessert {
  display: flex;
  flex-direction: row;
  color: #6E4CCC;
  text-align: center;
  justify-content: center;
  font-family: Roboto Slab;
  letter-spacing: 0px;
  font-size: 125%;
  margin-bottom: 2%;
  margin-top: 5%;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
  white-space: nowrap;
  width: 300px;
}
.menu__entree {
  color: #C77412;
}
.menu__plat {
  color: #A56799;
}
.menu__dessert {
  font-family: Roboto Slab;
  letter-spacing: 0px;
  font-size: 0.8em;
  font-weight: 400;
  color: #6E4CCC;
  padding-left: 5%;
  padding-right: 5%;
}
.menu__entree1, .menu__entree2, .menu__entree3, .menu__plat1, .menu__plat2, .menu__plat3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Roboto Slab;
  letter-spacing: 0px;
  font-size: 0.8em;
  font-weight: 400;
  padding-left: 5%;
  padding-right: 5%;
}
.menu__entree--justify, .menu__plat--justify {
  text-align: justify;
}
.menu__entree--margeGras, .menu__plat--margeGras {
  margin-left: 20px;
  font-weight: bold;
}
.menu h3 {
  text-align: center;
  background: linear-gradient(to right, #C77412, #6E4CCC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: Lobster Two;
  letter-spacing: 0px;
  font-size: 1.7em;
}

/* Block Pied de page */
.footer {
  display: flex;
  flex-direction: row;
  background-color: #579C87;
  color: #FDCB46;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Red Hat Display;
  letter-spacing: 0px;
  font-size: 125%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer__menLeg {
  margin-left: 10px;
  flex: 2;
}
.footer__contact {
  margin-right: 10px;
}
.footer a {
  text-decoration: none;
  color: #FDCB46;
}
.footer__menLeg, .footer__contact {
  margin-bottom: 0%;
  margin-top: 0%;
}

/*# sourceMappingURL=menu2_style.css.map */
