/* Variables */
/* Mixins */
/* Maps */
/* Polices */
@font-face {
  font-family: Roboto, sans-serif;
  src: url(https://fonts.google.com/specimen/Roboto);
  font-family: Chilanka, cursive;
  src: url(https://fonts.google.com/specimen/Chilanka);
  font-family: Devonshire, cursive;
  src: url(https://fonts.google.com/specimen/Devonshire);
  font-family: Lobster Two, cursive;
  src: url(https://fonts.google.com/specimen/Lobster+Two);
  font-family: Dancing Script, cursive;
  src: url(https://fonts.google.com/specimen/Dancing+Script);
  font-family: Caveat, cursive;
  src: url(https://fonts.google.com/specimen/Caveat);
  font-family: Mali, cursive;
  src: url(https://fonts.google.com/specimen/Mali);
  font-family: Roboto Slab, sans-serif;
  src: url(https://fonts.google.com/specimen/Roboto+Slab);
  font-family: Kalam, cursive;
  src: url(https://fonts.google.com/specimen/Kalam);
  font-family: Architects Daughter, cursive;
  src: url(https://fonts.google.com/specimen/Architects+Daughter);
  font-family: Red Hat Display, sans-serif;
  src: url(https://fonts.google.com/specimen/Red+Hat+Display);
}
/* Keyframes */
@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}
@-webkit-keyframes pointSuspension {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pointSuspension {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
  body {
    font-size: 1em;
    padding-bottom: 10%;
  }

  header img {
    max-width: 300px;
  }

  .menu h2 {
    margin-left: auto;
    margin-right: auto;
    width: 270px;
  }
  .menu__categorie__entree--width, .menu__categorie__plat--width, .menu__categorie__dessert--width {
    min-width: 280px;
  }
  .menu__entree1, .menu__entree2, .menu__entree3, .menu__plat1, .menu__plat2, .menu__plat3 {
    font-family: Roboto Slab;
    letter-spacing: 0px;
    font-size: 1em;
  }
  .menu__dessert {
    font-family: Roboto Slab;
    letter-spacing: 0px;
    font-size: 1em;
  }
  .menu h3 {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  body {
    font-size: 1em;
    padding-bottom: 10%;
  }

  header img {
    max-width: 400px;
  }

  .menu h2 {
    margin-left: auto;
    margin-right: auto;
    width: 270px;
  }
  .menu__categorie__entree--width, .menu__categorie__plat--width, .menu__categorie__dessert--width {
    min-width: 280px;
  }
  .menu__entree1, .menu__entree2, .menu__entree3, .menu__plat1, .menu__plat2, .menu__plat3 {
    font-family: Roboto Slab;
    letter-spacing: 0px;
    font-size: 1em;
  }
  .menu__dessert {
    font-family: Roboto Slab;
    letter-spacing: 0px;
    font-size: 1em;
  }
  .menu h3 {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }
}
@media screen and (min-width: 1440px) {
  body {
    font-size: 1.2em;
    padding-bottom: 10%;
  }

  header img {
    max-width: 425px;
  }

  .menu {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
  .menu h2 {
    margin-left: auto;
    margin-right: auto;
    width: 325px;
  }
  .menu__categorie__entree--width, .menu__categorie__plat--width, .menu__categorie__dessert--width {
    min-width: 310px;
  }
  .menu__entree1, .menu__entree2, .menu__entree3, .menu__plat1, .menu__plat2, .menu__plat3 {
    font-family: Roboto Slab;
    letter-spacing: 0px;
    font-size: 1em;
  }
  .menu__dessert {
    font-family: Roboto Slab;
    letter-spacing: 0px;
    font-size: 1em;
  }
  .menu h3 {
    margin-left: auto;
    margin-right: auto;
    width: 290px;
  }
}

/*# sourceMappingURL=responsive_M2.css.map */
