/* Variables */

$main-bgcolor: #579C87;
$main-color: #FDCB46;
$main-colorM1: #3C1218;
$bgM1: #FCDFDB;
$bgM2: #FFF5FE;
$bgM3: #F9F9F9;
$bgM4: #FDFFFD;

/* Mixins */

@mixin font($font, $fontsize: 100%, $letterSp: 0px) {
    font-family: $font;
    letter-spacing: $letterSp;
    font-size: $fontsize;
}

@mixin fontTitleM1{
    @include font(map-get($allFont, fontTitleM1));
                font-weight: bold;
                font-size: 1.8em;
                margin: 0%;
}

@mixin degrade($color1: black, $color2: grey){
    background: linear-gradient(to right, $color1, $color2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@mixin flex($direction: row){
    display: flex;
    flex-direction: $direction;
}

@mixin categorieProp($color: black, $font, $size){
    display: inline-block;
    color: $color;
    text-align: center;
    justify-content: center;
    @include font(map-get($allFont, $font), $size);
    margin-bottom: 2%;
    margin-top: 5%;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    white-space: nowrap;
}

/* Maps */

$allFont: (
    fontH1: Roboto,
    fontM1: Devonshire,
    fontTitleM1: Chilanka,
    fontPlatM1: Mali,
    fontM2: Lobster Two,
    fontM3: Dancing Script,
    fontM4: Caveat,
    fontTitlePlatM2: Roboto Slab,
    fontTitlePlatM3: Kalam,
    fontTitlePlatM4: Architects Daughter,
    fontFooter: Red Hat Display
);

/* Polices */
@font-face {
    font-family: Roboto, cursive;
    src:"GoogleFont";
    font-family: Chilanka, cursive;
    src:"Google Font";
    font-family: Devonshire, cursive;
    src:"Google Font";
    font-family: Lobster Two, cursive;
    src:"Google Font";
    font-family: Dancing Script, cursive;
    src:"Google Font";
    font-family: Caveat, cursive;
    src:"Google Font";
    font-family: Mali, cursive;
    src:"Google Font";
    font-family: Roboto Slab, cursive;
    src:"Google Font";
    font-family: Kalam, cursive;
    src:"Google Font";
    font-family: Architects Daughter, cursive;
    src:"Google Font";
    font-family: Red Hat Display, sans-serif;
    src: "Google Font";
}

/* Keyframes */

@keyframes shake{
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
}

@keyframes pointSuspension{
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
