/* Variables */

$main-bgcolor: #579C87;
$main-color: #FDCB46;
$main-colorM1: #3C1218;
$bgM1: #FCDFDB;
$bgM2: #FFF5FE;
$bgM3: #F9F9F9;
$bgM4: #FDFFFD;

/* Mixins */

@mixin font($font, $fontsize: 100%, $letterSp: 0px) {
    font-family: $font;
    letter-spacing: $letterSp;
    font-size: $fontsize;
}

@mixin fontMenu{
    @include font(map-get($allFont, fontMenu));
                font-weight: bold;
                font-size: 1.8em;
                margin: 0%;
}

@mixin degrade($color1: black, $color2: grey){
    background: linear-gradient(to right, $color1, $color2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@mixin flex($direction: row){
    display: flex;
    flex-direction: $direction;
}

@mixin categorieProp($color: black, $size){
    @include flex;
    color: $color;
    text-align: center;
    justify-content: center;
    @include font(map-get($allFont, fontMenu), $size);
    margin-bottom: 2%;
    margin-top: 5%;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    white-space: nowrap;
    width: 300px;
}

/* Maps */

$allFont: (
    fontP: Red Hat Display,
    fontMenu: Chilanka,
    fontM1: Devonshire,
    fontM2: Lobster Two,
    fontM3: Dancing Script,
    fontM4: Caveat,
    fontPlatM1: Mali,
    fontH1: Roboto
);

/* Polices */
@font-face {
    font-family: Red Hat Display, sans-serif;
    src:"Google Font";
    font-family: Leckerli One, cursive;
    src:"Google Font";
    font-family: Chilanka, cursive;
    src:"Google Font";
    font-family: Dancing Script, cursive;
    src:"Google Font";
    font-family: Lobster Two, cursive;
    src:"Google Font";
    font-family: Caveat, cursive;
    src:"Google Font";
}
