@import 'partiels/_utilitaires.scss';

@media screen and (min-width: 640px) and (max-width: 1023px){

    body{
        font-size: 1em;
        padding-bottom: 10%;
    }

    header{
        & img{
            max-width: 300px;
        }
    }

    .menu{
        &__categorie{

            &__trait{
                padding-top: 1%;
            }

            &__name{
                &--width{
                    min-width: 205px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px){

    body{
        font-size: 1em;
        padding-bottom: 10%;
    }

    header{
        & img{
            max-width: 425px;
        }
    }

    .menu{
        width: 75%;
        margin-right: auto;
        margin-left: auto;

        &__categorie{

            &__trait{
                padding-top: 1%;
            }

            &__name{
                &--width{
                    min-width: 210px;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px){

    body{
        font-size: 1.2em;
        padding-bottom: 10%;
    }

    header{
        & img{
            max-width: 425px;
        }
    }

    .menu{

        width: 75%;
        margin-right: auto;
        margin-left: auto;

        &__categorie{

            &__trait{
                padding-top: 1%;
            }

            &__name{
                &--width{
                    min-width: 250px;
                }
            }
        }
    }
}