@import 'partiels/_utilitaires.scss';

@media screen and (min-width: 640px) and (max-width: 1023px){

    body{
        font-size: 1em;
        padding-bottom: 10%;
    }

    header{
        & img{
            max-width: 300px;
        }
    }

    .menuSelect{
        @include flex(row);
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        &__menu{
            &--property{
                width: 40%;
                height: 450px;
                font-size: 1.3em;
            }
        }

        &__btnProch{
            padding-left: 5%;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px){
    
    body{
        font-size: 1em;
        padding-bottom: 0%;
    }

    header{
        margin-bottom: 25px;

        & img{
            max-width: 400px;
        }
    }

    .menuSelect{
        @include flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        &__menu{
            &--property{
                width: 22%;
                height: 400px;
                font-size: 1.2em;
                margin: initial;
                margin-right: 1.5%;
                margin-left: 1.5%;
                margin-top: 4%;
                margin-bottom: 6%;
            }
        }

        &__btnProch{
            padding-left: 5%;
        }
    }
}

@media screen and (min-width: 1440px){
    
    body{
        font-size: 1em;
        padding-bottom: 0%;
    }

    header{
        margin-bottom: 0px;

        & img{
            max-width: 425px;
        }
    }

    .menuSelect{
        @include flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        &__menu{
            &--property{
                width: 20%;
                height: 450px;
                font-size: 1.4em;
                margin: initial;
                margin-right: 2.5%;
                margin-left: 2.5%;
                margin-top: 4%;
                margin-bottom: 4%;
            }
        }

        &__btnProch{
            padding-left: 5%;
        }
    }
}