@import 'partiels/_utilitaires.scss';

@media screen and (min-width: 640px) and (max-width: 1023px){

    body{
        font-size: 1em;
        padding-bottom: 10%;
    }

    header{
        & img{
            max-width: 300px;
        }
    }

    .menu{

        h2{
            margin-left: auto;
            margin-right: auto;
            width: 270px;
        }

        &__categorie{
            &__entree, &__plat, &__dessert{
                &--width{
                    min-width: 280px;
                }
            }
        }

        &__entree, &__plat{
            &1, &2, &3{
                @include font(map-get($allFont, fontTitlePlatM2), 1em);
            }
        }

        &__dessert{
            @include font(map-get($allFont, fontTitlePlatM2), 1em);
        }

        h3{
            margin-left: auto;
            margin-right: auto;
            width: 250px;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px){

    body{
        font-size: 1em;
        padding-bottom: 10%;
    }

    header{
        & img{
            max-width: 400px;
        }
    }

    .menu{

        h2{
            margin-left: auto;
            margin-right: auto;
            width: 270px;
        }

        &__categorie{
            &__entree, &__plat, &__dessert{
                &--width{
                    min-width: 280px;
                }
            }
        }

        &__entree, &__plat{
            &1, &2, &3{
                @include font(map-get($allFont, fontTitlePlatM2), 1em);
            }
        }

        &__dessert{
            @include font(map-get($allFont, fontTitlePlatM2), 1em);
        }

        h3{
            margin-left: auto;
            margin-right: auto;
            width: 250px;
        }
    }
}

@media screen and (min-width: 1440px){

    body{
        font-size: 1.2em;
        padding-bottom: 10%;
    }

    header{
        & img{
            max-width: 425px;
        }
    }

    .menu{
        width: 75%;
        margin-right: auto;
        margin-left: auto;

        h2{
            margin-left: auto;
            margin-right: auto;
            width: 325px;
        }

        &__categorie{
            &__entree, &__plat, &__dessert{
                &--width{
                    min-width: 310px;
                }
            }
        }

        &__entree, &__plat{
            &1, &2, &3{
                @include font(map-get($allFont, fontTitlePlatM2), 1em);
            }
        }

        &__dessert{
            @include font(map-get($allFont, fontTitlePlatM2), 1em);
        }

        h3{
            margin-left: auto;
            margin-right: auto;
            width: 290px;
        }
    }
}